@model CombinedViewBuyModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using (Html.BeginForm("Sign_up", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        @Html.LabelFor(model => model.BuyProductModelVisa.CardNumber)
        @Html.TextBoxFor(model => model.BuyProductModelVisa.CardNumber, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.BuyProductModelVisa.CardExpirationDate)
        @Html.TextBoxFor(model => model.BuyProductModelVisa.CardExpirationDate, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.BuyProductModelVisa.SVV2)
        @Html.TextBoxFor(model => model.BuyProductModelVisa.SVV2, new { @class = "form-control" })
    </div>

    <div class="form-group">
        <input type="submit" value="Зарегистрироваться" class="btn btn-primary" />
    </div>
}