@model List<ProductModel>
@{
    ViewData["Title"] = "Home Page";
}
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Боковая панель поиска товара с Bootstrap</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <h1>Товары</h1>

    <div class="d-flex flex-row">
        <div class="mx-5">
        <input type="search" />
        <div>
            <input />
        </div>
        <div>
                <div><input class="form-check-input" type="checkbox" id="option1"></div>
                <input class="form-check-input" type="checkbox" id="option1">
                <input class="form-check-input" type="checkbox" id="option1">
                <input class="form-check-input" type="checkbox" id="option1">
        </div>
    </div>
        <div>
        @if (Model != null)
        {
                <ul class ="d-flex flex-row">
                @foreach (var product in Model)
                {
                        <li class="mx-5">
                        <div><img src="@Url.Content($"~/{@product.PhotoPath}")" style="width:100px;" /></div>
                            <div>
                                <a class="nav-link text-dark" href="@Url.Action("ProductInfo", "Home", new { id = @product.Id })">@product.Name</a>
                                <a class="nav-link text-dark" href="@Url.Action("ProductInfo", "Home", new { id = @product.Id })">@product.Price$</a>
                            </div>
                            <div>
                                <form method="post" asp-action="AddToBasket">
                                <input type="hidden" name="id" value="@product.Id" />
                                <button type="submit" class="btn btn-danger">Купить</button>
                            </form>
                        </div>
                        <!-- Другие поля пользователя, если есть -->
                    </li>
                }
            </ul>
        }
    </div>
</div>
</body>
</html>