@model List<ProductModel>
@{
}
<div class="container">
    <h1>@ViewData["Title"]</h1>
    @if (Model != null && Model.Count > 0)
    {
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Название</th>
                    <th>Картинка</th>
                    <th>Удалить</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var product in Model)
                {
                    <tr>
                        <td>@product.Id</td>
                        <td>@product.Name</td>
                        <td>
                            <img src="@Url.Content($"~/{product.PhotoPath}")" style="width:50px;" class="img-thumbnail" />
                        </td>
                        <td>
                            <form method="post" asp-action="RemoveFromBasket">
                                <input type="hidden" name="productId" value="@product.Id" />
                                <button type="submit" class="btn btn-danger">Убрать</button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>Нет товаров в корзине.</p>
    }
</div>
