@model List<ProductModel>
@{
	ViewData["Title"] = "Products";
}

<div class="container">
    <h2>Список продуктов</h2>
    @if (Model != null && Model.Count > 0)
    {
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Название</th>
                    <th>Компания</th>
                    <th>Картинка</th>
                    <th>Изменить продукт</th>
                    <th>Удалить</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var product in Model)
                {
                    <tr>
                        <td>@product.Id</td>
                        <td>@product.Name</td>
                        <td>@product.Company</td>
                        <td>
                            <img src="@Url.Content($"~/{product.PhotoPath}")" style="width:50px;" class="img-thumbnail" />
                        </td>
                        <td>
                            <form method="post" asp-action="ChangeProductViews">
                                <input type="hidden" name="id" value="@product.Id" />
                                <button type="submit" class="btn btn-primary">Изменить</button>
                            </form>
                        </td>
                        <td>
                            <form method="post" asp-action="DeletePurchaseItem">
                                <input type="hidden" name="id" value="@product.Id" />
                                <button type="submit" class="btn btn-danger">Удалить</button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>Нет доступных товаров.</p>
    }
</div>
