@model List<UserModel>
@{
	ViewData["Title"] = "Users";
    List<SelectListItem> items = new List<SelectListItem>
    {
        new SelectListItem {  Text = "User" },
        new SelectListItem {  Text = "Salesman" },
        new SelectListItem {  Text = "Admin" }
    };
}
<h1>Список пользователей</h1>

@if (Model != null && Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Email</th>
                <th>Пароль</th>
                <th>Роль</th>
                <th>Компания</th>
                <th>Картинка</th>
                <th>Удалить</th>
                <!-- Другие поля пользователя -->
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.Id</td>
                    <td>@user.Email</td>
                    <td>@user.Password</td>
                    <td>
                        <form method="post" asp-action="RoleType">
                            <select id="myDropdown" name="selectDown" class="form-control">
                                <option value="">Выберите вариант</option>
                                @foreach (var item in items)
                                {
                                    if (item.Text == user.Role)
                                    {
                                        <option value="@user.Id @item.Text" selected>@item.Text</option>
                                    }
                                    else
                                    {
                                        <option value="@user.Id @item.Text">@item.Text</option>
                                    }
                                }
                            </select>
                            <button type="submit" class="btn btn-success"><i class="fas fa-check"></i></button>
                        </form>
                    </td>
                    <td>
                        <form method="post" asp-action="CompanyName">
                            <input type="hidden" name="userId" id="userId" value="@user.Id" />
                            <input type="text" name="inputText" id="inputText" value="@user.Company" class="form-control" />
                            <button type="submit" class="btn btn-success"><i class="fas fa-check"></i></button>
                        </form>
                     </td>
                    <td>

                        <img src="@Url.Content($"~/Images/Users/default.png")" style="width:50px;" />
                    </td>
                    <td>
                        <form method="post" asp-action="DeletePurchaseItem">
                            <input type="hidden" name="id" value="@user.Id" />
                            <button type="submit" class="btn btn-danger">Удалить</button>
                        </form>
                    </td>
                    <!-- Остальные поля пользователя -->
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No users available.</p>
}
